*{
font-family:Arial, Helvetica, sans-serif;
box-sizing: border-box;

}
body{
    background-color: #f4f1de;
    margin: 0;
}
h1{
    text-align: center;
}
div{
    background-color: #81b29a;
    border: 1px solid black;
    padding: 0px 0px 5px 5px;
    width: calc(98%/3);
    float: left;
    margin-left: 0.5%;
    margin-top: 5px;

}

.p1{
    font-size: 20px;
    color: white;
    margin-top: 0;
    width: 80px;
    height: 28px;
    border: 1px solid black;
    text-align: center;
    background-color: #e07a5f;
    float: right;
}
.c2>.p1{
    background-color: #3d405b;
}
.c3>.p1{
    background-color: #e7b35e;
}
.p2{
    clear: right;
} 

@media (max-width:991px){
    .c1{
        width: 49%;
    }
    .c2{
        width: 49%;
    }
    .c3{
        width: 98.5%;
    }
}

@media (max-width:767px){
    .c1{
        width: 98.5%;
    }
    .c2{
        width: 98.5%;
    }
    .c3{
        width: 98.5%;
    }
}
